body {
    background-color: #000;
    color: #fff;
}

.gambiarra {
    height: 13vh;
}

section {
    height: 85vh;
}

section .areaCabecalho {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #fff;
}

.areaCabecalho .card {
    height: 90%;
    width: 200px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.areaCabecalho .card h1 {
    font-weight: bold;
    font-size: 3.5rem;
}

.areaConteudo {
    display: flex;
    height: 70%;
    margin-top: 25px;
}

.areaBtn {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.areaBtn button {
    width: 90%;
    height: 100px;
    margin: auto;
    border: none;
    border-radius: 15px;
}

.grafico {
    width: 80%;
    height: 100%;
    background-color: #211F22;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chartCurtida, #chartComentario, #chartVisualizacao {
    max-height: 95%;
    max-width: 95%;
}

#chartComentario, #chartVisualizacao {
    display: none;
}

.iconeSair {
    position: absolute;
    left: 35px;
    top: 15vh;
    font-size: 2rem;
    cursor: pointer;
}