.container {
    height: 100%;
    width: 80%;
    margin: auto;
}

.areaPublicacoes {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaPublicacoes .container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 25px auto;
}

.areaPublicacoes .areaCard {
    height: fit-content;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.areaPublicacoes .areaImagem {
    height: 300px;
    width: 350px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaPublicacoes .infosCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 40px;
}

.infosCard .areaNumPublicacao {
    display: flex;
    gap: 20px;
}

.areaPublicacoes .areaFotoPerfil {
    height: 30px;
    width: 30px;
    background-color: #5E4889;
    border-radius: 100%;
}

.infosCard .ladoEsq {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.imgPublicacao {
    height: 100%;
    width: fit-content;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.150);
}

.fotoPerfil {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.curtida {
    color: red;
}

.areaFeed {
    background-color: aquamarine;
    height: 100px;
}