.container {
    height: 100%;
    width: 80%;
    margin: auto;
}

header {
    width: 100%;
    height: 13vh;
    transition: background-color 0.3s;
    position: fixed;
    z-index: 2;
    background: linear-gradient(#f1e2d5, #f1e2d500);
}

.header-scroll {
    background: linear-gradient(#f1e2d5, #f1e2d500);
    color: #000000;
}


header .container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .criar a{
    display: flex;
    gap: 10px;
}
header .container i {
    font-size: 1.3rem;
}

header .container input {
    height: 50px;
    width: 400px;
    border-radius: 25px;
    font-size: 1.1rem;
    padding-left: 5px;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 5px solid #000;
    
}

header .container .perfil {
    gap: 25px;
}

header .container .fotoPerfil {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: blue;
}

header .container .nav {
    gap: 50px;
}

header a {
    text-decoration: none;
    color: #000;
}

footer {
    height: 40vh;
    width: 100%;
    background-color: #211F22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

footer .areaNav {
    height: 35%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .areaInfos {
    height: 65%;
    display: flex;
    gap: 50px;
    color: #FFF;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}