* {
    margin: 0;
    padding: 0;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #000;
}

section .areaImagem {
    height: 100%;
    width: 30%;
    background-color: #ff0;
    background-size: cover;
    background-position: right;
}

.login {
    background-image: url('../assets/publicacao/exemplos/3.jpg');
}

.cadastro {
    background-image: url('../assets/publicacao/exemplos/5.jpg');
}

section .areaForm {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.formulario {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.formulario h1 {
    align-self: flex-start;
    font-size: 2rem;
}

.formulario p {
    font-weight: bold;
}

.formulario .esqueceuSenha {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.formulario input {
    width: 450px;
    height: 50px;
    border-radius: 10px;
    border: solid 1px #00000060;
    margin-top: 5px;
    padding-left: 5px;
    font-size: 0.9rem;
}

.formulario button {
    width: 450px;
    height: 50px;
    background-color: #5E4889;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 25px;
    border-top: solid 1px #000;
    border-bottom: solid 4px #000;
    border-right: solid 1px #000;
    border-left: solid 1px #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario .doisInputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.doisInputs input {
    width: 215px;
}

#cardSenha {
    height: 100px;
    width: fit-content;
    background-color: #FFF;
    position: absolute;
    bottom: -35px;
    left: -240px;
    border-radius: 10px;
    border: 1px solid #00000060;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.150);
    display: none;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding:  10px;
}

#cardSenha span {
    font-size: 0.8rem;
}